<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if title %}
      {{ title }} - A11y Lab Resources
    {% else %}
      A11y Lab Resources
    {% endif %}
  </title>

  {% if description %}
    <meta name="description" content="{{ description }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧪</text></svg>">
</head>

<body>

  <a class="skip-link" href="#main-content">Skip to main content</a>

  <header class="site-header">
    <div class="wrapper">

      <div class="site-identity">
        <a class="site-title" href="/" aria-label="A11y Lab Resources homepage">
          A11y Lab Resources
        </a>
      </div>
    </div>
  </header>

  <main id="main-content" class="wrapper">
    {{ content | safe }}
  </main>

  <footer class="site-footer">
    <div class="wrapper">
      <p>
        <a href="/accessibility/">Accessibility</a>
      </p>
    </div>
  </footer>

</body>
</html>